{:connections [{:id                     :1
                :title                  "generic"
                :type                   :generic
                :class                  "org.apache.activemq.ActiveMQConnectionFactory"
                :constructor-parameters []
                :init-calls             {"setBrokerURL" ["tcp://localhost:61616"]}
                :queues                 [{:id    :1
                                          :title "queue1"
                                          :name  "queue1"}
                                         {:id    :2
                                          :title "queue2"
                                          :name  "queue2"}]}
               {:id                     :3
                :title                  "stomp"
                :type                   :stomp
                :browse-type            :queue-consumer
                :host                   "localhost"
                :port                   "61613"
                :queues                 [{:id    :3
                                          :title "queue1"
                                          :name  "queue1"}
                                         {:id    :4
                                          :title "queue2"
                                          :name  "queue2"}
                                         ]}
               {:id                     :5
                :title                  "activemq"
                :type                   :activemq
                :host                   "localhost"
                :port                   "61616"
                :queues                 [{:id    :5
                                          :title "queue1"
                                          :name  "queue1"}
                                         {:id    :6
                                          :title "queue2"
                                          :name  "queue2"}]}
               ]
 :collections [
               {:id   "2"
                :name "Test adapter messages"
                }
               {:id   "3"
                :name "Test processor messages"
                }
               ]}